$background-gray: #E8E9EB;

body {
  font-size: 1em;
  #content-wrapper {
  }
}

#my-name {
  font-family: "Lato", sans-serif;
  font-size: 4em;
  display: block;
}

#name-subtitle {
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  display: inline-block;
}

#header {
  background-color: $background-gray;
  padding: 10px;
  #contact-section {
    display: inline-block;
    float: right;
    a {
      color: black;
    }
    i {
      margin: 0 10px;
    }
  }
}

#left-bar {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-size: 1.5em;
  margin-left: 10px;
  margin-top: 45px;
  div:hover {
    text-decoration: underline;
  }
  a {
    color: black;
    text-decoration: none;
  }
}

#about-me {
  margin-top: 3%;
}

#bio {
  display: inline-block;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-size: 1.5em;
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: right;
}

#large-portrait {
  display: inline-block;
}
