$background-gray: #E8E9EB;
$navy: #0f183e;
$navy2: #063141;
$purple: #582c83;
$sea-foam: #9eb7b9;
$warm-gray: #484848;
$font: "Open Sans", sans-serif;

// "normal" AKA monitor view
@media (min-width : 1024px) {
  body {
    font-size: 1em;
    #content-wrapper {
    }
  }

  #name-wrap {
    // border: solid 2px green;
    display: inline-block;
  }

  #my-name {
    text-transform: uppercase;
    font-family: $font;
    font-weight: 300;
    font-size: 3em;
    display: block;
  }

  #name-subtitle {
    font-family: $font;
    font-size: 1.5em;
    text-align: right;
    display: inline-block;
    // border: solid 2px red;
    margin-left: 8px;
  }

  #header {
    color: white;
    background-color: $navy2;
    padding: 20px;
    #contact-section {
      display: inline-block;
      // float: right;
      a {
        color: white;
        margin: 0 10px;
      }

      i:hover {
        color: #4099FF;
      }
    }
  }

  #left-bar {
    position: absolute;
    top: 100;
    left: 40;
    font-family: $font;
    line-height: 1.5;
    font-size: 3em;
    margin-left: 10px;
    margin-top: 45px;
    div:hover {
      text-decoration: underline;
    }
    a {
      color: black;
      text-decoration: none;
    }
  }

  #projects {
    height: 100%;
    #project-wrap {
      width: 50%;
      margin-left: 30%;
      margin-top: 2%;
      display: inline-block;
      .project-square {
        width: 200px;
        height: 200px;
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 15px;
      }
      .project-square:hover {

      }
      .project-rect {
        width: 400px;
        height: 200px;
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 15px;
      }
    }
  }

  #about {
    margin: 0 0 5% 0;
    border: solid 2px red;
  }

  #contact {
    height: 300px;
    background-color: $navy2;
    font-family: $font;
    #contact-wrap {
      vertical-align: middle;
      div {
        padding: 2%;
        text-align: center;
        font-size: 1em;
        color: white;
        a {
          text-decoration: none;
          color: white;
        }
        a:hover {
          text-decoration: underline;
        }
      }
      #copyright {
        margin-top: 2%;
        font-size: 0.8em;
      }
    }
  }

  #about-me {
    margin-top: 3%;
  }

  #bio {
    display: inline-block;
    font-family: $font;
    line-height: 1.5;
    font-size: 1.5em;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border: solid 2px blue;
    text-align: right;
    vertical-align: middle;
  }

  #large-portrait {
    display: inline-block;
    vertical-align: middle;
    margin: 2% 0;
    border: solid 2px green;
  }

  .back-to-top {
    display: block;
    font-family: $font;
    text-decoration: none;
    color: black;
    text-align: center;
  }
}

// tablet to desktop
@media (min-width : 641px) and (max-width : 1023px) {

  body {
    background-color: blue;
  }
}


// phone to tablet
@media (min-width : 300px) and (max-width : 640px) {

  body {
    font-size: 1em;
    #content-wrapper {
    }
  }

  #my-name {
    font-family: $font;
    font-weight: 300;
    font-size: 3em;
    display: block;
  }

  #name-subtitle {
    font-family: $font;
    font-size: 1.5em;
    text-align: right;
    display: inline-block;
  }

  #header {
    color: white;
    background-color: $navy2;
    padding: 20px;
    #contact-section {
      display: inline-block;
      float: right;
      a {
        color: white;
        margin: 0 10px;
      }

      i:hover {
        color: #4099FF;
      }
    }
  }

  #left-bar {
    position: absolute;
    top: 100;
    left: 40;
    font-family: $font;
    line-height: 1.5;
    font-size: 3em;
    margin-left: 10px;
    margin-top: 45px;
    div:hover {
      text-decoration: underline;
    }
    a {
      color: black;
      text-decoration: none;
    }
  }

  #projects {
    height: 100%;
    #project-wrap {
      width: 50%;
      margin-left: 30%;
      margin-top: 2%;
      display: inline-block;
      .project-square {
        width: 200px;
        height: 200px;
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 15px;
      }
      .project-square:hover {

      }
      .project-rect {
        width: 400px;
        height: 200px;
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 15px;
      }
    }
  }

  #about {
    margin: 0 0 5% 0;
    border: solid 2px red;
    position: relative;
  }

  #contact {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 1150;
    height: 200px;
    background-color: $navy2;
    font-family: $font;
    #contact-wrap {
      vertical-align: middle;
      padding-top: 20px;
      div {
        padding: 2%;
        text-align: center;
        font-size: 1em;
        color: white;
        a {
          text-decoration: none;
          color: white;
        }
        a:hover {
          text-decoration: underline;
        }
      }
      #copyright {
        margin-top: 2%;
      }
    }
  }

  #about-me {
    margin-top: 3%;
  }

  #bio {
    display: inline-block;
    position: relative;
    top: 520;
    left: 0;
    font-family: $font;
    line-height: 1.5;
    font-size: 1.5em;
    // width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border: solid 2px blue;
    text-align: left;
    vertical-align: middle;
  }

  #large-portrait {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: middle;
    margin: 2% 0;
    margin-left: 10%;
    border: solid 2px green;
  }

  .back-to-top {
    display: block;
    font-family: $font;
    text-decoration: none;
    color: black;
    text-align: center;
  }

}
